$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
$transition: all .3s ease-in-out;
.gradient-btn {
	background-color: #1fe4d8;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.06) 0%, transparent 100%);
	border-radius: 5px;
	box-shadow: inset 0 -4px 4px 0px #248a8d, inset 0 4px 4px 0px #68f5ec, 0 3px 39.6px 6.4px rgba(0, 0, 0, 0.25);
	color: #fff;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	transition: $transition;
	border: none;
	display: inline-block;
	padding: 0 50px;
	height: 56px;
	border-radius: 5px;
	text-align: center;
	font: 900 18px/50px $roboto;
	text-decoration: none;
	margin-right: 25px;
	cursor: pointer;
	&:hover {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 0%, transparent 100%);
	}
}

.bordered-title {
	margin: 0 0 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #165f9d;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 5px;
		width: 75px;
		background: #165f9d;
	}
}

.simple-title {
	font: 700 60px $roboto;
	text-align: center;
}

.slick-slide, .slick-slide *{ outline: none !important; }