block footer

	footer.site-footer
		.map-wrapper.cf
			.map-content
				.container
					.map-content__block
						p.title Бюро переводов A-Z Translate
						p.address Россия, Нижний Новгород, микрорайон Мещерское Озеро, Мещерский бульвар, 9
						p.phone
							a(href="tel:8-960-453-44-56") 8-960-453-44-56
						p.email
							a(href="mailto:aztranslate@gmail.com") aztranslate@gmail.com
			#map.map
		.footer__copyright
			.container.cf
				p.copyright__text © 2015 All RiCopyright © 2015 A-Z Translate 
				.footer-social
					p Мы в соц ситях:
					ul
						li
							a(href="#" style="background-image: url(img/footer-fb.png)")
						li
							a(href="#" style="background-image: url(img/footer-twit.png)")
						li
							a(href="#" style="background-image: url(img/footer-gplus.png)")
