<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700")
		link(rel="stylesheet", href="css/style.min.css")
		title Document
	
	block vars
	body(class='#{bodyClass}')
		.all-wrapper
			include _header

			block content

		include _footer

		block externalScripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdG_mBwYIFyWrJqMKkNAOTF3mO5QR4HkE")

		block scripts
		script(src="js/lib/lib.min.js")
		script(src="js/main.min.js")

		block inlineScripts