extends _layout
block vars
	- var bodyClass = ''
block content
	main.main-content
			.container.cf
				.with__sidebar-layout
					.content.content__width-sidebar
						.breadcrumbs
							a(href="#") Главная 
							span.sep > 
							a(href="#") Услуги 
							span.sep > 
							span Технический перевод
						h1.inner__title.bordered-title Отзывы наших клиентов
						p Тексты технической тематики весьма разнообразны. Как правило, тип текста во многом обуславливает нужный уровень квалификации переводчика и требования к переводу. В основе технического перевода лежит формально-логический стиль, который характеризуется точностью, неэмоциональностью и безличностью. В лексике используется много терминов латинского или греческого происхождения. Грамматика технических переводов характеризуется использованием специфических и твердо устоявшихся грамматических норм: неопределенно-личные и безличные конструкции и прочее.  Работаем c документами всех форматов. 
						.reviews__list
							.reviews__list-item
								.reviews__list-item__inner
									.top-side
										.review-rating 5.0
										p.name ООО "ЕВРО-ПАРТНЕР"
										p.date 2017-02-16 19:46:41
											span.sep | 
											| Тип: Юридический перевод с немецкого 
									p.reviews-text Тексты технической тематики весьма разнообразны. Как правило, тип текста во многом обуславливает нужный уровень квалификации переводчика и требования к переводу. В основе технического перевода лежит формально-логический стиль, который характеризуется точностью, неэмоциональностью и безличностью. В лексике используется много терминов латинского или греческого происхождения. 
							.reviews__list-item
								.reviews__list-item__inner
									.top-side
										.review-rating 5.0
										p.name ООО "ЕВРО-ПАРТНЕР"
										p.date 2017-02-16 19:46:41
											span.sep | 
											| Тип: Юридический перевод с немецкого 
									p.reviews-text Тексты технической тематики весьма разнообразны. Как правило, тип текста во многом обуславливает нужный уровень квалификации переводчика и требования к переводу. В основе технического перевода лежит формально-логический стиль, который характеризуется точностью, неэмоциональностью и безличностью. В лексике используется много терминов латинского или греческого происхождения. 
							.reviews__list-item
								.reviews__list-item__inner
									.top-side
										.review-rating 5.0
										p.name ООО "ЕВРО-ПАРТНЕР"
										p.date 2017-02-16 19:46:41
											span.sep | 
											| Тип: Юридический перевод с немецкого 
									p.reviews-text Тексты технической тематики весьма разнообразны. Как правило, тип текста во многом обуславливает нужный уровень квалификации переводчика и требования к переводу. В основе технического перевода лежит формально-логический стиль, который характеризуется точностью, неэмоциональностью и безличностью. В лексике используется много терминов латинского или греческого происхождения. 
							.reviews__list-item
								.reviews__list-item__inner
									.top-side
										.review-rating 5.0
										p.name ООО "ЕВРО-ПАРТНЕР"
										p.date 2017-02-16 19:46:41
											span.sep | 
											| Тип: Юридический перевод с немецкого 
									p.reviews-text Тексты технической тематики весьма разнообразны. Как правило, тип текста во многом обуславливает нужный уровень квалификации переводчика и требования к переводу. В основе технического перевода лежит формально-логический стиль, который характеризуется точностью, неэмоциональностью и безличностью. В лексике используется много терминов латинского или греческого происхождения. 
						a.more-reviews(href="#") Загрузить еще
						.add-review
							p.title Вы можете оставить свой отзыв:
							form
								.add-review__row
									.add-review__col
										input.add-review__input(type="text" placeholder="Ваше имя | организация:")
										input.add-review__input(type="text" placeholder="Тип перевода:")
										select.add-review__input(required)
											option(value="" disabled selected hidden) Ваша оценка:
											option(value="1") 1
											option(value="2") 2
											option(value="3") 3
											option(value="4") 4
											option(value="5") 5
									.add-review__col
										textarea.add-review__input(placeholder="Отзыв:")
								.submit-side
									input.gradient-btn(type="submit" value="ОТПРАВИТЬ")
									p 
										strong Благодарим, 
										| что согласились уделить нам немного времени и оценить нашу работу!<br>Ваш честный отзыв позволит нам скорректировать работу наших специалистов или просто порадоваться!

						.single-order
							p.title Заказать перевод
							form
								.single-order__row
									p Введите удобный способ для связи: <br>Телефон, E-mail, Skype...
									input(type="text")
									input.gradient-btn(type="submit" value="ЗАКАЗАТЬ ПЕРЕВОД")
						p Для расчета стоимости перевода пожалуйста свяжитесь с нашими менеджерами.<br>Вы также можете отправить запрос на электронную почту 
							a(href="mailto:aztranslate@gmail.com" style="font-weight: bold; color:#165f9d; text-decoration: none") aztranslate@gmail.com<br>
							| Мы ответим в течение 5 минут!

					aside.sidebar
						.sidebar__benefits-list
							.sidebar__benefits-item
								img(src="img/sidebar-ico1.png", alt="")
								p.title Высокое качество переводов 
								p.descr В нашей команде только высококвалифицированные специалисты, которые обеспечат Вам качественный перевод 
							.sidebar__benefits-item
								img(src="img/sidebar-ico2.png", alt="")
								p.title Удобная <br>система работы 
								p.descr Вы можете разместить заказ по телефону, электронной почте, директе. Возможность связаться с нами не только в рабочее время, мы работаем и в праздничные дни
							.sidebar__benefits-item
								img(src="img/sidebar-ico3.png", alt="")
								p.title Персональный подход к каждому клиенту 
								p.descr Мы сделаем всё, чтобы наше сотрудничество было максимально комфортным для Вас
							.sidebar__benefits-item
								img(src="img/sidebar-ico4.png", alt="")
								p.title Предоставление скидок
								p.descr Мы делаем скидки на первый заказ, а для постоянных клиентов у нас приятные скидки и никакой предоплаты. Мы предоставляем умеренные цены и гибкую ценовую политику.
						.our-honors
							p.title Наши награды:
							.honor-slider
								.slick-slide
									a(href="img/nagrada.png" data-fancybox="gallery")
										img(src="img/nagrada.png", alt="")
								.slick-slide
									a(href="img/nagrada.png" data-fancybox="gallery")
										img(src="img/nagrada.png", alt="")
								.slick-slide
									a(href="img/nagrada.png" data-fancybox="gallery")
										img(src="img/nagrada.png", alt="")
								.slick-slide
									a(href="img/nagrada.png" data-fancybox="gallery")
										img(src="img/nagrada.png", alt="")
							.honor-arrs
								.honor-prev.honor-arr
								.honor-next.honor-arr

						.ask-question
							img(src="img/sidebar-img.png", alt="")
							p -  Все интересующие вопросы вы можете узнать прямо сейчас!
							a(href="#") Задать вопрос

						
						
			.home-order(style="background: #ececec")
				.container
					h2.simple-title Как заказать перевод у нас?
					.home-order__list
						.home-order__list-item
							img(src="img/home-order1.png", alt="")
							p.title Заявка 
							p.description Оставляйте нам заявку на сайте/почте/звоните по телефону
						.home-order__list-item
							img(src="img/home-order2.png", alt="")
							p.title Звонок менеджера
							p.description Наш персональный менеджер свяжется с Вами для уточнения деталей
						.home-order__list-item
							img(src="img/home-order3.png", alt="")
							p.title Согласование
							p.description На этом этапе мы согласовываем с Вами объемы, сроки и сумму перевода
						.home-order__list-item
							img(src="img/home-order4.png", alt="")
							p.title Выполнение заказа
							p.description А это самый приятный этап - Вы получаете выполненный перевод :)
					a.order(href="#") Все очень просто :)
			.home-order
				.container
					h2.simple-title Закажите перевод прямо сейчас!
					form.home-order__form(method="post" enctype="multipart/form-data")
						.home-order__inputs
							input.simple-input(type="text" placeholder="Имя")
							select.simple-input(required)
								option(value="" disabled selected hidden) Выбор перевода:
								option(value="Выбор перевода") перевода 2
								option(value="Выбор перевода") перевода 3
								option(value="Выбор перевода") перевода 4
								option(value="Выбор перевода") перевода 5
								option(value="Выбор перевода") перевода 6
								option(value="Выбор перевода") перевода 7
							input.simple-input(type="email" placeholder="Email:")
							textarea.simple-input(placeholder="Комментарий")
						.home-order__file
							.home-order__file-inner#demo-upload
								p.title Вы можете просто перетянуть сюда ваши файлы.
								.allowed-file-list
									img(src="img/file1.png", alt="")
									img(src="img/file2.png", alt="")
									img(src="img/file3.png", alt="")
									img(src="img/file4.png", alt="")
									img(src="img/file5.png", alt="")
									img(src="img/file6.png", alt="")
									img(src="img/file7.png", alt="")
									img(src="img/file8.png", alt="")
								p.allowed-text Поддерживаемые форматы файлов.
								p.click-to-add 
									span Нажмите чтобы добавить файл с вашего устройства
						input.gradient-btn(type="submit" value="ОТПРАВИТЬ")







block inlineScripts